@import "variables";

html * {
  font-family: "Roboto" !important;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: [header-start] auto [header-end content-start] 1fr [content-end];
  grid-template-columns: [header-start] 1fr [content-start header-content-start] 2fr [content-end header-content-end] 1fr [header-end];
  row-gap: 1rem;
  height: 100vh;
  background: #fbfcfd;
}

.header {
  grid-area: header;
  background: #ffffff;
  box-shadow: $box-shadow;
}
.search-form {
  grid-area: header-content;
  grid-row: 1;
  display: flex;
  padding: 2rem 0;
  &__button {
    margin-left: 1rem;
    background-color: $dark-blue;
    border-radius: 0.5rem;
    border: 1px solid $border-color;
    outline: none;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #fff;
    padding: 1rem;
    &:hover {
      opacity: 0.95;
      cursor: pointer;
    }
  }
}

.search-field {
  display: flex;
  flex: 0.75;
  position: relative;
  &__input {
    flex-grow: 1;
    font-size: 0.875rem;
    background-color: #f0f3f4;
    padding: 1rem 1rem 1rem 2.25rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    &:focus {
      outline: none;
      border: 1px solid $border-color;
    }
  }
  &__icon {
    position: absolute;
    align-self: center;
    padding-left: 0.75rem;
  }
}

.spinner {
  display: flex;
  grid-area: content;
  justify-content: center;
  div {
    border-color: $dark-blue !important;
    border-bottom: inherit;
  }
}

.details-container {
  display: grid;
  grid-area: content;
  grid-auto-rows: min-content;
  row-gap: 2rem;
}

.meta-data {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: minmax(64px, 0.35fr) 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  align-items: center;
  img {
    border-radius: 0.75rem;
    width: 100%;
  }
  &__bio {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.4px;
    color: #828282;
    grid-column: 1/3;
    grid-row: 2/2;
  }
}

.repositories {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 1rem;
  &__item {
    box-shadow: $box-shadow;
    background-color: #fff;
    border-radius: 0.75rem;
    padding: 1rem;
    a {
      text-decoration: none;
    }
  }
}

.error-message {
  color: red;
  grid-area: content;
  justify-self: center;
}

.title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}
